$grey-50: #fafafb;
$grey-100: #f7f7f8;
$grey-200: #f1f1f2;
$grey-300: #ebebec;
$grey-400: #d2d6db;
$grey-500: #676878;
$grey-600: #585863;
$grey-dark: #585863;
$grey-bg: #e5e5e5;

$black: #0d0c22;

$accent: hsl(222, 65%, 45%);
$accent-100: hsl(222, 65%, 90%);
$accent-200: hsl(222, 65%, 50%);
$accent-dark: hsl(222, 65%, 40%);
$accent-black:hsl(266, 91%, 17%);


$green-100: #f9fefd;
$green-200: #b4e7dc;
$green-300: #51b6ab;
$green-400: #388473;
$green-500: #134c4a;

$red: #ff6868;
$red-100: #ffb1b1;
$red-200: #d74949;