@use 'colors';

@mixin spacing-B($space) {
    &:not(:last-child) {
        margin-bottom: $space;
    }
}

@mixin spacing-R($space) {
    &:not(:last-child) {
        margin-right: $space;
    }
}

@mixin scrollBar($size) {
    &::-webkit-scrollbar {
        width: $size;
        height: $size;
    }

    &::-webkit-scrollbar-track {
        background: colors.$grey-100;
        border-radius: 999px;
    }

    &::-webkit-scrollbar-thumb {
        background: colors.$grey-400;
        border-radius: 999px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: colors.$grey-500;
    }
}
