<div>
    <span>Online user</span>
    <br>
    <span> my name is : <%= userName %></span>
    <br>
    <ul>
        <li>1</li>
        <li>2</li>
    </ul>
    <br>
    <a href="/logout">Logout</a>
</div>