<div id="rootElement" data-email="<%= typeof(userEmail) != 'undefined' ? userEmail : '' %>">
    <h5>
        i'm a <strong>Visitor</strong>
    </h5>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/public/js/alterEgo/visitor/dashboard.js"></script>
<!-- Partials -->
<%- contentFor('header') %>
<%- include('./partials/header_visitor') %>