<div class="ind_container">
    <div class="ind_inner_container container-custom">
        <div class="ind_content">
            <h1 class="ind_title">
                <span>La consultation en tout temps</span>
                <span class="ind_title_colored">En tout lieu</span>
            </h1>
            <p class="ind_desc">
                conlus est un site web qui sert d'intermédiaire entre une entreprise et ses clients sous forme d'une
                solution de la télé-consultation.
            </p>
            <span class="ind_btns_desc">Créez un compte en tant qu'un :</span>
            <div class="ind_btns_cont">
                <a href="/c-register" class="ind_btn_main">Entreprise</a>
                <a href="/v-register" class="ind_btn_sec">Client</a>
            </div>
        </div>
        <div class="ind_image">
            <img src="/public/img/hero_1.png" alt="">
            <!-- <img src="/public/img/hero_2.png" alt=""> -->
            <!-- <img src="/public/img/hero_3.png" alt=""> -->
        </div>
    </div>
</div>
<!-- CSS -->
<%- contentFor('css') %>
<link rel="stylesheet" href="/public/css/css-prefixed/index.css" />
<!-- Partials -->
<%- contentFor('header') %>
<%- include('./partials/header_standard') %>