<h1 style="text-align: center;">
    Home page
    <br>
    <a href="/login">_Identification_</a>
    <br>
    <a href="/v-register">_Inscription Visiteur [commencer une consultation]_</a>
    <br>
    <a href="/c-register">_Inscription Client [Bussnise owner]_</a>
</h1>
<!-- Partials -->
<%- contentFor('header') %>
<%- include('./partials/header_standard') %>