@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap");
html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
html input,
html textarea,
html button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.container-custom {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1200px) {
  .container-custom {
    width: 1200px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container-custom {
    width: 960px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container-custom {
    width: 720px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .container-custom {
    width: 540px;
  }
}
@media (max-width: 575px) {
  .container-custom {
    width: 100%;
  }
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
}

.auth_container {
  width: 100%;
  flex: 1;
}
.auth_container .auth_inner_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
@media (max-width: 320px) {
  .auth_container .auth_inner_container {
    position: initial;
  }
}
@media (max-width: 575px) {
  .auth_container .auth_inner_container {
    box-sizing: border-box;
    padding: 0 10px;
  }
}
.auth_container .auth_inner_container .auth_feedback_cont {
  max-width: 400px;
  width: 400px;
  height: fit-content;
  top: 10px;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
@media (max-width: 320px) {
  .auth_container .auth_inner_container .auth_feedback_cont {
    top: initial;
    bottom: 10px;
  }
}
@media (max-width: 420px) {
  .auth_container .auth_inner_container .auth_feedback_cont {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }
}
.auth_container .auth_inner_container .auth_register_switch_cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
}
.auth_container .auth_inner_container .auth_register_switch_cont .auth_register_option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  width: 85px;
  height: 100px;
  transition: background 150ms ease-in-out;
}
.auth_container .auth_inner_container .auth_register_switch_cont .auth_register_option:hover {
  background: rgba(213, 223, 246, 0.3);
}
.auth_container .auth_inner_container .auth_register_switch_cont .auth_register_option:hover .auth_register_option_text {
  color: #2d5ed2;
}
.auth_container .auth_inner_container .auth_register_switch_cont .auth_register_option .auth_register_option_icon {
  width: 50px;
  height: 50px;
  background: #d5dff6;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
}
.auth_container .auth_inner_container .auth_register_switch_cont .auth_register_option .auth_register_option_icon svg {
  width: 28px;
  height: 28px;
  color: #2d5ed2;
}
.auth_container .auth_inner_container .auth_register_switch_cont .auth_register_option .auth_register_option_text {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 500;
  color: #585863;
}
.auth_container .auth_inner_container .auth_register_switch_cont .auth_register_option_active {
  background: rgba(213, 223, 246, 0.3);
}
.auth_container .auth_inner_container .auth_register_switch_cont .auth_register_option_active .auth_register_option_text {
  color: #2d5ed2;
}
.auth_container .auth_inner_container .auth_form {
  max-width: 400px;
  width: 400px;
  margin: 25px 0;
}
.auth_container .auth_inner_container .auth_form .auth_form_title {
  color: #585863;
  font-size: 20px;
  margin: 0;
  text-align: center;
  margin-bottom: 25px;
}
.auth_container .auth_inner_container .auth_form .auth_form_row:not(:last-child) {
  margin-bottom: 14px;
}
.auth_container .auth_inner_container .auth_form .auth_form_row .auth_row_label {
  font-size: 16px;
  color: #0d0c22;
}
.auth_container .auth_inner_container .auth_form .auth_form_row .auth_row_input_cont {
  margin-top: 5px;
}
.auth_container .auth_inner_container .auth_form .auth_form_row .auth_row_input_cont .auth_row_input {
  width: 100%;
  box-sizing: border-box;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 6px;
  background: white;
  border: 1px solid #d2d6db;
  transition: 150ms ease-in-out;
}
.auth_container .auth_inner_container .auth_form .auth_form_row .auth_row_input_cont .auth_row_input:focus {
  outline: 0;
  box-shadow: 0 0 0 3px #a4cafe73;
  border-color: #68a6fd73;
}
.auth_container .auth_inner_container .auth_form .auth_form_row .auth_row_input_cont .auth_row_select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: url("/public/icon/selectBG.svg") no-repeat right 12px center;
}
.auth_container .auth_inner_container .auth_form .auth_form_btns_cont > *:not(:last-child) {
  margin-bottom: 10px;
}
.auth_container .auth_inner_container .auth_form .auth_form_btn {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: 0;
  font-size: 14px;
  display: block;
  text-align: center;
  letter-spacing: 0.5px;
  border-radius: 8px !important;
}
.auth_container .auth_inner_container .auth_form .auth_form_btn_main {
  background: #2855bd;
  color: white;
  border-radius: 6px;
  transition: background 150ms ease-in-out;
  cursor: pointer;
  user-select: none;
}
.auth_container .auth_inner_container .auth_form .auth_form_btn_main:hover {
  background: #2d5ed2;
}
.auth_container .auth_inner_container .auth_form .auth_form_btn_main:active {
  outline: none;
  background: #244ba8;
  box-shadow: 0px 0px 0px 3px #d5dff6;
}
.auth_container .auth_inner_container .auth_form .auth_form_btn_main:focus {
  outline: none;
  box-shadow: 0px 0px 0px 3px #d5dff6, inset 0px 0px 0px 1px #244ba8;
}
.auth_container .auth_inner_container .auth_form .auth_form_btn_sec {
  background: #f7f7f8;
  color: #676878;
  border-radius: 6px;
  transition: background 150ms ease-in-out;
  user-select: none;
  cursor: pointer;
}
.auth_container .auth_inner_container .auth_form .auth_form_btn_sec:hover {
  background: #fafafb;
}
.auth_container .auth_inner_container .auth_form .auth_form_btn_sec:active {
  outline: none;
  box-shadow: 0px 0px 0px 3px #f1f1f2;
}
.auth_container .auth_inner_container .auth_form .auth_form_btn_sec:focus {
  outline: none;
  box-shadow: 0px 0px 0px 3px #f1f1f2, inset 0px 0px 0px 1px #d2d6db;
}
.auth_container .auth_inner_container .auth_form .auth_form_btn_alt {
  background: white;
  color: #0d0c22;
  border: 1px solid #d2d6db;
  border-radius: 6px;
  transition: all 150ms ease-in-out;
  user-select: none;
  cursor: pointer;
  font-weight: 500;
  padding: 8px;
}
.auth_container .auth_inner_container .auth_form .auth_form_btn_alt:hover {
  border-color: #585863;
}
.auth_container .auth_inner_container .auth_form .auth_form_btn_alt:active {
  outline: none;
  border-color: #585863;
}
.auth_container .auth_inner_container .auth_form .auth_form_btn_alt:focus {
  outline: none;
  border-color: #585863;
}
.auth_container .auth_inner_container .auth_form .auth_horizontal_sep {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}
.auth_container .auth_inner_container .auth_form .auth_horizontal_sep .auth_sep_text {
  margin: 0;
  font-size: 14px;
  color: #585863;
  background: white;
  width: fit-content;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
}
.auth_container .auth_inner_container .auth_form .auth_horizontal_sep::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #d2d6db;
  top: 50%;
  left: 0;
  z-index: -1;
}
@media (max-width: 420px) {
  .auth_container .auth_inner_container .auth_form {
    width: 100%;
  }
}

/*# sourceMappingURL=auth.css.map */
