@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap");
html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
html input,
html textarea,
html button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.container-custom {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1200px) {
  .container-custom {
    width: 1200px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container-custom {
    width: 960px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container-custom {
    width: 720px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .container-custom {
    width: 540px;
  }
}
@media (max-width: 575px) {
  .container-custom {
    width: 100%;
  }
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
}

.chat_container {
  width: 100%;
  flex: 1;
}
.chat_container .chat_inner_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 20px 0;
}
@media (max-width: 575px) {
  .chat_container .chat_inner_container {
    padding: 15px 10px;
  }
}
.chat_container .chat_inner_container #videoConfSection {
  width: 100%;
  max-height: 690px;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
  display: none;
}
@media (min-width: 768px) and (max-width: 991px) {
  .chat_container .chat_inner_container #videoConfSection {
    height: 450px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .chat_container .chat_inner_container #videoConfSection {
    height: 350px;
  }
}
@media (max-width: 575px) {
  .chat_container .chat_inner_container #videoConfSection {
    height: 460px;
  }
}
.chat_container .chat_inner_container #videoConfSection .videoCorrection {
  transform: scaleX(-1);
  position: relative;
  z-index: -1;
  object-fit: cover;
}
.chat_container .chat_inner_container #videoConfSection #remoteVideo {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid #d2d6db;
}
.chat_container .chat_inner_container #videoConfSection .video_poster {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  background-image: url("/icon/vChat_avatar.svg");
}
.chat_container .chat_inner_container #videoConfSection #remote_video_poster {
  background-color: #f1f1f2;
}
@media (max-width: 991px) {
  .chat_container .chat_inner_container #videoConfSection #remote_video_poster {
    background-size: 180px;
  }
}
@media (max-width: 767px) {
  .chat_container .chat_inner_container #videoConfSection #remote_video_poster {
    background-size: 120px;
  }
}
.chat_container .chat_inner_container #videoConfSection .host_video_cont {
  width: 300px;
  height: 200px;
  box-sizing: border-box;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #d2d6db;
  position: absolute;
  bottom: 35px;
  right: 35px;
  z-index: 2;
}
@media (max-width: 991px) {
  .chat_container .chat_inner_container #videoConfSection .host_video_cont {
    right: 15px;
    bottom: 15px;
    width: 150px;
    height: 150px;
    border-radius: 999px;
  }
}
@media (max-width: 767px) {
  .chat_container .chat_inner_container #videoConfSection .host_video_cont {
    height: 100px;
    width: 100px;
  }
}
@media (max-width: 575px) {
  .chat_container .chat_inner_container #videoConfSection .host_video_cont {
    width: 75px;
    height: 75px;
  }
}
.chat_container .chat_inner_container #videoConfSection .host_video_cont #hostVideo {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}
.chat_container .chat_inner_container #videoConfSection .host_video_cont #host_video_poster {
  background-color: #ebebec;
  background-size: 98px;
  z-index: 3;
}
@media (max-width: 767px) {
  .chat_container .chat_inner_container #videoConfSection .host_video_cont #host_video_poster {
    background-size: 50px;
  }
}
.chat_container .chat_inner_container #videoConfSection .videoChat_controls_cont {
  position: absolute;
  z-index: 2;
  left: 35px;
  bottom: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 991px) {
  .chat_container .chat_inner_container #videoConfSection .videoChat_controls_cont {
    left: 15px;
    bottom: 15px;
  }
}
.chat_container .chat_inner_container #videoConfSection .videoChat_controls_cont .vChat_control {
  width: 60px;
  height: 60px;
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(13, 12, 34, 0.1);
  transition: background 100ms ease-in-out;
  border: none;
  border-radius: 999px;
}
.chat_container .chat_inner_container #videoConfSection .videoChat_controls_cont .vChat_control:not(:last-child) {
  margin-right: 15px;
}
@media (max-width: 575px) {
  .chat_container .chat_inner_container #videoConfSection .videoChat_controls_cont .vChat_control {
    width: 46px;
    height: 46px;
  }
  .chat_container .chat_inner_container #videoConfSection .videoChat_controls_cont .vChat_control:not(:last-child) {
    margin-right: 5px;
  }
  .chat_container .chat_inner_container #videoConfSection .videoChat_controls_cont .vChat_control img,
.chat_container .chat_inner_container #videoConfSection .videoChat_controls_cont .vChat_control svg {
    width: 18px;
    height: 18px;
  }
}
.chat_container .chat_inner_container #videoConfSection .videoChat_controls_cont .vChat_control:hover {
  background: rgba(13, 12, 34, 0.3);
}
.chat_container .chat_inner_container #videoConfSection .videoChat_controls_cont #endCall {
  background: #ff6868;
}
.chat_container .chat_inner_container #videoConfSection .videoChat_controls_cont #endCall:hover {
  background: #d74949;
}
.chat_container .chat_inner_container #videoConfSection .hide_me {
  display: none !important;
}
.chat_container .chat_inner_container #chatingSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.chat_container .chat_inner_container #chatingSection .innerChat_section {
  width: 100%;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid #ebebec;
  margin-bottom: 10px;
}
.chat_container .chat_inner_container #chatingSection #dest_section {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.chat_container .chat_inner_container #chatingSection #dest_section .chating_des_userImage {
  width: 45px;
  height: 45px;
  border-radius: 999px;
  object-fit: cover;
  margin-right: 10px;
}
.chat_container .chat_inner_container #chatingSection #dest_section .chatting_des_infos {
  display: flex;
  flex-direction: column;
}
.chat_container .chat_inner_container #chatingSection #dest_section .chatting_des_infos .chatting_des_name {
  color: #0d0c22;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.75px;
}
.chat_container .chat_inner_container #chatingSection #dest_section .chatting_des_infos .chatting_des_tel {
  color: #585863;
  font-size: 14px;
  font-weight: 400;
}
.chat_container .chat_inner_container #chatingSection #dest_section .chat_top_bar {
  margin-left: auto;
  position: relative;
}
.chat_container .chat_inner_container #chatingSection #dest_section .chat_top_bar #chat_top_menu_btn {
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: none;
  background: none;
  display: none;
  padding: 8px;
  cursor: pointer;
  outline: none;
  transition: background 100ms ease-in-out;
}
.chat_container .chat_inner_container #chatingSection #dest_section .chat_top_bar #chat_top_menu_btn svg {
  display: block;
  width: 24px;
  color: #585863;
}
.chat_container .chat_inner_container #chatingSection #dest_section .chat_top_bar #chat_top_menu_btn:hover {
  background: #f1f1f2;
}
@media (max-width: 450px) {
  .chat_container .chat_inner_container #chatingSection #dest_section .chat_top_bar #chat_top_menu_btn {
    display: flex;
  }
}
.chat_container .chat_inner_container #chatingSection #dest_section .chat_top_bar .chat_top_options_cont {
  display: flex;
  flex-direction: row;
}
.chat_container .chat_inner_container #chatingSection #dest_section .chat_top_bar .chat_top_options_cont .chat_top_btn {
  border: none;
  padding: 0;
  width: 45px;
  height: 45px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f1f1f2;
  cursor: pointer;
  color: #585863;
  transition: all 150ms ease-in-out;
  outline: none;
}
.chat_container .chat_inner_container #chatingSection #dest_section .chat_top_bar .chat_top_options_cont .chat_top_btn:not(:last-child) {
  margin-right: 10px;
}
.chat_container .chat_inner_container #chatingSection #dest_section .chat_top_bar .chat_top_options_cont .chat_top_btn:hover {
  width: 125px;
}
.chat_container .chat_inner_container #chatingSection #dest_section .chat_top_bar .chat_top_options_cont .chat_top_btn:hover .chat_top_btn_text {
  display: block;
}
.chat_container .chat_inner_container #chatingSection #dest_section .chat_top_bar .chat_top_options_cont .chat_top_btn:active {
  color: #676878;
  background: #f7f7f8;
}
.chat_container .chat_inner_container #chatingSection #dest_section .chat_top_bar .chat_top_options_cont .chat_top_btn svg {
  display: block;
  width: 24px;
}
.chat_container .chat_inner_container #chatingSection #dest_section .chat_top_bar .chat_top_options_cont .chat_top_btn .chat_top_btn_text {
  margin-left: 5px;
  font-size: 16px;
  font-weight: 500;
  display: none;
}
@media (max-width: 450px) {
  .chat_container .chat_inner_container #chatingSection #dest_section .chat_top_bar .chat_top_options_cont {
    position: absolute;
    top: 58px;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 10px;
    right: -10px;
    flex-direction: column-reverse;
    width: 150px;
    background: white;
    border: 1px solid #ebebec;
    z-index: 10;
    box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.1), 0 4px 9px -2px rgba(0, 0, 0, 0.05);
  }
  .chat_container .chat_inner_container #chatingSection #dest_section .chat_top_bar .chat_top_options_cont .chat_top_btn {
    width: fit-content;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
    background: white;
    width: 100%;
  }
  .chat_container .chat_inner_container #chatingSection #dest_section .chat_top_bar .chat_top_options_cont .chat_top_btn:last-child {
    margin-bottom: 5px;
  }
  .chat_container .chat_inner_container #chatingSection #dest_section .chat_top_bar .chat_top_options_cont .chat_top_btn:hover {
    width: 100%;
    background: #f1f1f2;
  }
  .chat_container .chat_inner_container #chatingSection #dest_section .chat_top_bar .chat_top_options_cont .chat_top_btn .chat_top_btn_text {
    display: block;
  }
}
.chat_container .chat_inner_container #chatingSection #dest_section .chat_top_bar .hide_me {
  display: flex;
}
@media (max-width: 450px) {
  .chat_container .chat_inner_container #chatingSection #dest_section .chat_top_bar .hide_me {
    display: none;
  }
}
.chat_container .chat_inner_container #chatingSection #chatMessages {
  height: 600px;
  padding: 20px;
  overflow-y: auto;
}
.chat_container .chat_inner_container #chatingSection #chatMessages .msg_row {
  display: flex;
  flex-direction: row;
}
.chat_container .chat_inner_container #chatingSection #chatMessages .msg_row:not(:last-child) {
  margin-bottom: 6px;
}
.chat_container .chat_inner_container #chatingSection #chatMessages .msg_row .msg_content {
  max-width: 700px;
  padding: 10px 16px;
  border-radius: 22px;
  background: white;
  color: #585863;
}
.chat_container .chat_inner_container #chatingSection #chatMessages .msg_row .msg_content_link {
  padding-right: 40px;
  position: relative;
  display: flex;
  align-items: center;
}
.chat_container .chat_inner_container #chatingSection #chatMessages .msg_row .msg_content_link:after {
  content: url("data:image/svg+xml;utf8,<svg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M3 17C3 16.7348 3.10536 16.4804 3.29289 16.2929C3.48043 16.1054 3.73478 16 4 16H16C16.2652 16 16.5196 16.1054 16.7071 16.2929C16.8946 16.4804 17 16.7348 17 17C17 17.2652 16.8946 17.5196 16.7071 17.7071C16.5196 17.8946 16.2652 18 16 18H4C3.73478 18 3.48043 17.8946 3.29289 17.7071C3.10536 17.5196 3 17.2652 3 17ZM6.293 9.293C6.48053 9.10553 6.73484 9.00021 7 9.00021C7.26516 9.00021 7.51947 9.10553 7.707 9.293L9 10.586V3C9 2.73478 9.10536 2.48043 9.29289 2.29289C9.48043 2.10536 9.73478 2 10 2C10.2652 2 10.5196 2.10536 10.7071 2.29289C10.8946 2.48043 11 2.73478 11 3V10.586L12.293 9.293C12.3852 9.19749 12.4956 9.12131 12.6176 9.0689C12.7396 9.01649 12.8708 8.9889 13.0036 8.98775C13.1364 8.9866 13.2681 9.0119 13.391 9.06218C13.5139 9.11246 13.6255 9.18671 13.7194 9.28061C13.8133 9.3745 13.8875 9.48615 13.9378 9.60905C13.9881 9.73194 14.0134 9.86362 14.0123 9.9964C14.0111 10.1292 13.9835 10.2604 13.9311 10.3824C13.8787 10.5044 13.8025 10.6148 13.707 10.707L10.707 13.707C10.5195 13.8945 10.2652 13.9998 10 13.9998C9.73484 13.9998 9.48053 13.8945 9.293 13.707L6.293 10.707C6.10553 10.5195 6.00021 10.2652 6.00021 10C6.00021 9.73484 6.10553 9.48053 6.293 9.293V9.293Z' fill='%23585863'/></svg>");
  position: absolute;
  width: 21px;
  height: 21px;
  right: 15px;
}
.chat_container .chat_inner_container #chatingSection #chatMessages .msgError .msg_content {
  box-shadow: inset 0px 0px 0px 2px #d74949 !important;
  color: #0d0c22 !important;
  background: #ffb1b1 !important;
}
.chat_container .chat_inner_container #chatingSection #chatMessages .msg_row_host {
  justify-content: flex-end;
}
.chat_container .chat_inner_container #chatingSection #chatMessages .msg_row_host .msg_content {
  background-color: #f1f1f2;
}
.chat_container .chat_inner_container #chatingSection #chatMessages .msg_row_remote {
  justify-content: flex-start;
}
.chat_container .chat_inner_container #chatingSection #chatMessages .msg_row_remote .msg_content {
  box-shadow: inset 0px 0px 0px 1px #ebebec;
}
.chat_container .chat_inner_container #chatingSection #chatControls {
  padding: 10px;
  display: flex;
  flex-direction: row;
}
.chat_container .chat_inner_container #chatingSection #chatControls > *:not(:last-child) {
  margin-right: 10px;
}
.chat_container .chat_inner_container #chatingSection #chatControls #msgInput {
  flex: 1;
  height: 20px;
  /* box-sizing: border-box; */
  border: none;
  background: #f7f7f8;
  padding: 7px;
  border-radius: 14px;
  font-size: 14px;
  color: #0d0c22;
  outline: none;
}
.chat_container .chat_inner_container #chatingSection #chatControls #msgInput:focus {
  box-shadow: inset 0px 0px 0px 1px #d2d6db;
}
.chat_container .chat_inner_container #chatingSection #chatControls #msgSend {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: none;
  background: none;
  cursor: pointer;
}
.chat_container .chat_inner_container #chatingSection #chatControls #msgSend svg {
  display: block;
  width: 24px;
  height: 24px;
  transform: rotate(90deg);
  color: #2855bd;
}
.chat_container .chat_inner_container #chatingSection .cons_endGame {
  position: absolute;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border: 1px solid #ebebec;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
  top: 77px;
  color: #0d0c22;
}
.chat_container .chat_inner_container #chatingSection .cons_endGame > * {
  width: 100%;
  max-width: 500px;
}
.chat_container .chat_inner_container #chatingSection .cons_endGame .endGame_txt {
  margin-bottom: 5px;
}
.chat_container .chat_inner_container #chatingSection .cons_endGame .endGame_input {
  height: 80px;
  box-sizing: border-box;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 6px;
  background: white;
  border: 1px solid #d2d6db;
  transition: 150ms ease-in-out;
  margin-bottom: 5px;
}
.chat_container .chat_inner_container #chatingSection .cons_endGame .endGame_input:focus {
  outline: 0;
  box-shadow: 0 0 0 3px #a4cafe73;
  border-color: #68a6fd73;
}
.chat_container .chat_inner_container #chatingSection .cons_endGame .endGame_btn {
  margin: 5px 0;
  box-sizing: border-box;
  padding: 5px;
  border: none;
  font-weight: 500;
}
.chat_container .chat_inner_container #chatingSection .cons_endGame #btnEnd {
  background: #2855bd;
  color: white;
  border-radius: 6px;
  transition: background 150ms ease-in-out;
  cursor: pointer;
  user-select: none;
}
.chat_container .chat_inner_container #chatingSection .cons_endGame #btnEnd:hover {
  background: #2d5ed2;
}
.chat_container .chat_inner_container #chatingSection .cons_endGame #btnEnd:active {
  outline: none;
  background: #244ba8;
  box-shadow: 0px 0px 0px 3px #d5dff6;
}
.chat_container .chat_inner_container #chatingSection .cons_endGame #btnEnd:focus {
  outline: none;
  box-shadow: 0px 0px 0px 3px #d5dff6, inset 0px 0px 0px 1px #244ba8;
}
.chat_container .chat_inner_container #chatingSection .cons_endGame #btn_dont_End {
  background: #f7f7f8;
  color: #676878;
  border-radius: 6px;
  transition: background 150ms ease-in-out;
  user-select: none;
  cursor: pointer;
}
.chat_container .chat_inner_container #chatingSection .cons_endGame #btn_dont_End:hover {
  background: #fafafb;
}
.chat_container .chat_inner_container #chatingSection .cons_endGame #btn_dont_End:active {
  outline: none;
  box-shadow: 0px 0px 0px 3px #f1f1f2;
}
.chat_container .chat_inner_container #chatingSection .cons_endGame #btn_dont_End:focus {
  outline: none;
  box-shadow: 0px 0px 0px 3px #f1f1f2, inset 0px 0px 0px 1px #d2d6db;
}
.chat_container .chat_inner_container #chatingSection .cons_endGame .endGame_desc {
  font-size: 12px;
  color: #676878;
}

/*# sourceMappingURL=chat.css.map */
