@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@font-face {
  font-family: "Gilroy";
  src: url("../../app/font/Gilroy-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../app/font/Gilroy-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../app/font/Gilroy-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#landing {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
}

#navBar {
  width: 100%;
  height: 90px;
  box-sizing: border-box;
  padding-left: 200px;
  padding-right: 200px;
  box-sizing: border-box;
}
@media screen and (max-width: 1200px) {
  #navBar {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media screen and (max-width: 1000px) {
  #navBar {
    padding-left: 25px;
    padding-right: 25px;
  }
}
#navBar #navBarIn {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#navBar #navBarIn #navBarNavText {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: center;
}
#navBar #navBarIn #navBarNavText > *:not(:last-child) {
  margin-right: 20px;
}
#navBar #navBarIn #navBarNavText a {
  text-decoration: none;
  color: #004348;
  font-size: 18px;
  letter-spacing: 0.5px;
}
#navBar #navBarIn #navBarNavText #btnLogin {
  border-radius: 5px;
  padding: 10px 15px;
  background-color: #1FDBAE;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
#navBar #navBarIn #navBarNavText #btnLogin img {
  margin-right: 5px;
}

#body {
  width: 100%;
  height: 100%;
  padding-left: 200px;
  padding-right: 200px;
  box-sizing: border-box;
  padding-top: 100px;
  padding-bottom: 50px;
  box-sizing: border-box;
}
@media screen and (max-width: 1200px) {
  #body {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media screen and (max-width: 1000px) {
  #body {
    padding-left: 25px;
    padding-right: 25px;
  }
}
#body #bodyContent {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: center;
  text-align: center;
  font-family: "Gilroy", sans-serif;
  color: #004348;
  background-position: left bottom, right bottom;
  background-repeat: no-repeat;
}
#body #bodyContent > *:not(:last-child) {
  margin-bottom: 30px;
}
#body #bodyContent h1 {
  font-weight: 700;
  font-size: 96px;
  white-space: pre-line;
  margin: 0;
  height: fit-content;
  margin-top: -73px;
  line-height: 1;
}
#body #bodyContent span {
  max-width: 912px;
  font-size: 30px;
  font-weight: 400;
}
#body #bodyContent button {
  font-size: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
  letter-spacing: 1px;
  border: none;
  background-color: #1FDBAE;
  border-radius: 40px;
  padding: 30px;
  font-weight: 700;
  cursor: pointer;
}
#body #scrollIcon {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-bottom: 75px;
  cursor: pointer;
  animation: scrollMoves 750ms ease-in-out infinite alternate;
}
@keyframes scrollMoves {
  0% {
    margin-bottom: 75px;
  }
  100% {
    margin-bottom: 65px;
  }
}

#content {
  width: 100%;
  padding: 50px 0px;
  padding-left: 200px;
  padding-right: 200px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: unset;
}

@media screen and (max-width: 1200px) {
  #content {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 130px;
  }
  #content #imageVisualizer {
    width: 700px;
    height: 361px !important;
    border: 4px solid #004348;
    border-radius: 15px;
    background-position: top;
    background-size: 175%;
    margin-top: 38px;
  }
}

#content #imageVisualizer {
  width: 700px;
  height: 294px;
  border: 4px solid #004348;
  border-radius: 15px;
  background-position: top;
  background-size: 175%;
}
#content #contentNavigation {
  width: 100%;
  margin-left: 40px;
   margin-top: 25px;
  display: flex;
  flex-direction: column ;
  justify-content: flex-start;
  align-items: unset;
}
#content #contentNavigation .navigationBox {
  width: 100%;
  height: fit-content;
  flex: none;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  font-family: "Gilroy", sans-serif;
  transition: 200ms all ease-in-out;
  cursor: pointer;
}
#content #imageVisualizer {
  width: 1072px;
  height: 500px;
  border: 4px solid #004348;
  border-radius: 15px;
  background-position: top;
  background-size: 175%;
}
#content #contentNavigation .navigationBox:not(:last-of-type) {
  margin-bottom: 20px;
}
#content #contentNavigation .navigationBox .navigationBoxRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  
}
#content #contentNavigation .navigationBox .navigationBoxRow img {
  margin-right: 20px;
  
}
#content #contentNavigation .navigationBox .navigationBoxRow .navigationBoxTitle {
  font-size: 20px;
  font-weight: 700;
  color: #004348;
}
#content #contentNavigation .navigationBox .navigationBoxDesc {
  font-size: 18px;
  color: #C5D7EA;
  font-weight: 500;
}
#content #contentNavigation .navigationBox:hover {
  background-color: #F6F9FC;
}
#content #contentNavigation .navigationBoxHighlited {
  background-color: #F6F9FC;
}

#footing {
  width: 100%;
}
#footing #banner {
  width: 100%;
  height: 200px;
  background-color: #004348;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footing #banner div {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
 
#footing #footer {
  width: 100%;
  height: 75px;
  background-color: #004348;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 18px;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
#content #imageVisualizer {
  width: 600px;
  height: 291px !important;
  border: 4px solid #004348;
  border-radius: 15px;
  background-position: top;
  background-size: 175%;
}
}
/*# sourceMappingURL=home_OCP.css.map */
@media screen and (max-width: 760px) {
  #content {
    padding-left: 25px;
    padding-right: 25px;
    display: block;
    margin-top: 130px;
  }
  #img1{
    width: 300px;
  }
  #navBar #navBarIn #navBarNavText #btnLogin {
    border-radius: 5px;
    padding: 3px 15px;
    font-size: 3px;
    
}
#navBar #navBarIn #navBarNavText a {
  text-decoration: none;
  color: #004348;
  font-size: 13px;
  letter-spacing: 0.5px;
}
  #body #bodyContent button {
    font-size: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 1px;
    border: none;
    background-color: #1FDBAE;
    border-radius: 40px;
    padding: 30px;
    font-weight: 700;
    cursor: pointer;
}
  #navBar #navBarIn #navBarNavText {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    flex-direction: row;
    justify-content: unset;
    align-items: center;
}
#body #bodyContent h1 {
  font-weight: 700;
  font-size: 53px;
  white-space: pre-line;
  margin: 0;
  height: fit-content;
  margin-top: -73px;
  line-height: 1;
}
#body #bodyContent span {
  max-width: 912px;
  font-size: 20px;
  font-weight: 400;
}
#content #contentNavigation {
  width: auto;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: unset;
  margin-top: 26px;
}
#content #imageVisualizer {
  width: auto !important;
  height: 270px !important;
  border: 4px solid #004348;
  border-radius: 15px;
  background-position: top;
  background-size: 175%;
  display: block;
}
#footing #banner div img {
  /* width: 108px; */
  margin: auto;
  /* width: 65%; */
  display: block;
  margin-top: 25px;
}
#footing #banner div {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
}
#img1
{
  width:125px;
  height:75px;
}
#imgOcp
{
  width:75px;
  height:75px;
}

}