@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #FFFFFF;
}

#navBar {
  width: 80px;
  height: 100%;
  background-color: #1FDBAE;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  z-index: 3;
}

#navBar .navCont {
  display: grid;
  grid-gap: 6.5px;
}

#navBar .navCont a:hover .navIconBox {
  background-color: rgba(255, 255, 255, 0.2);
}

#navBar .navCont .navIconBox {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

#content {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
}

#content #header {
  height: 75px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 40px;
  background-color: #FFFFFF;
}

#content #container {
  position: relative;
  flex: 1;
  box-sizing: border-box;
  padding: 40px;
  background-color: #F6F9FC;
  font-family: "Gilroy";
  letter-spacing: 0.6px;
}

#content #container .bigBox {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.025);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#content #container .fitBox {
  width: 100%;
  height: fit-content;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.025);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#content #container .table {
  padding: 0;
}

#content #container .tableHead {
  flex: none;
  width: 100%;
  height: 62px;
  box-sizing: border-box;
  padding: 0 20px;
  border-bottom: 1px solid #E8EFF6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#content #container .vertical {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#content #container .horizontal {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

#content #container .txt-main {
  color: #004348;
  text-transform: capitalize;
  font-size: 20px;
  font-family: "Gilroy";
  font-weight: 700;
}

#content #container .txt-second {
  color: #C5D7EA;
  text-transform: capitalize;
  font-size: 16px;
  font-family: "Gilroy";
  font-weight: 500;
}

#content #container .btn-doc {
  padding: 7.5px 15px;
  background-color: #1FDBAE;
  text-transform: capitalize;
  font-size: 20px;
  font-family: "Gilroy";
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

#content #container .btn-doc img {
  margin-right: 10px;
}

#content #container .btn-acc {
  padding: 9px 10px;
  background-color: #1FDBAE;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Gilroy";
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

#content #container .btn-acc img {
  margin-right: 5px;
}

#content #container .btn-no {
  padding: 9px 10px;
  background-color: #FC5E79;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Gilroy";
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

#content #container .btn-no img {
  margin-right: 5px;
}

#content #container .btn-download {
  padding: 5px 14px;
  background-color: #F6F9FC;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Gilroy";
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #C5D7EA;
  border: none;
  cursor: pointer;
}

#content #container .btn-download img {
  margin-left: 18px;
}

#content #container .btn-send {
  padding: 9px 10px;
  background-color: #1FDBAE;
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Gilroy";
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

#content #container .btn-send img {
  margin-left: 5px;
}

#content #container .btn-main {
  padding: 16px 30px;
  background-color: #1FDBAE;
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Gilroy";
  font-weight: 700;
  cursor: pointer;
  border-radius: 15px;
  color: #FFFFFF;
  border: none;
}

#content #container .box-notif {
  flex: none;
  box-sizing: border-box;
  width: 300px;
  padding: 15px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.025);
  border-radius: 15px;
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 16px;
  color: #004348;
  letter-spacing: 0.6px;
  overflow: hidden;
  margin-right: 20px;
}

#content #container .box-notif .box-notif-switch {
  position: absolute;
  top: 25px;
  right: 15px;
  cursor: pointer;
}

#content #container .box-notif .box-notif-title {
  font-weight: 700;
  font-size: 22px;
}

#content #container .box-notif .box-notif-date {
  color: #1FDBAE;
  font-size: 18px;
}

#content #container .box-notif .box-notif-matric {
  font-size: 20px;
}

#content #container .box-notif .box-notif-subTitle {
  font-size: 20px;
  font-weight: 700;
}

#content #container .box-notif .box-notif-desc {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  font-size: 14px;
  color: #004348;
  font-family: "Roboto", sans-serif;
  background-color: #F6F9FC;
  border-radius: 10px;
  word-break: break-word;
}

#content #container .box-notif .box-notif-pj {
  align-self: center;
  text-decoration: underline;
  font-size: 20px;
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  margin-left: 15px;
}

#content #container .box-rndv {
  box-sizing: border-box;
  width: 530px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.025);
  border-radius: 20px;
  letter-spacing: 0.6px;
}

#content #container .box-rndv .box-rndv-date {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#content #container .box-rndv .box-rndv-date-input {
  height: 33px;
  width: 375px;
  margin: 10px 0;
  padding: 0;
  border: 1px solid #C5D7EA;
  border-radius: 10px;
  color: #C5D7EA;
  background-color: #F6F9FC;
  font-family: "Roboto";
  font-style: italic;
  box-sizing: border-box;
  padding: 0 10px;
  font-size: 16px;
}

#content #container .box-rndv .box-rndv-note-input {
  width: 100%;
  margin: 10px 0;
  background-color: #F6F9FC;
  border-radius: 10px;
  color: #004348;
  font-family: "Roboto";
  font-size: 16px;
  min-height: 170px;
  margin-bottom: 40px;
  box-sizing: border-box;
  padding: 5px 10px;
}

#content #container .box-rndv .box-rndv-note-input:empty:before {
  content: attr(placeholder);
  color: #C5D7EA;
  font-family: "Roboto";
  font-style: italic;
}

#content #container .title-24 {
  font-family: "Gilroy";
  font-size: 24px;
  color: #004348;
  font-weight: 700;
}

#content #container .row-collection {
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: center;
}

#content #container .align-right {
  margin-left: auto;
}

#content #container .trans-flip {
  transform: rotate(180deg);
}



#content .title {
  font-family: "Gilroy";
  font-weight: 700;
  font-size: 24px;
  color: #004348;
}

.radiusRight {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.radiusLeft {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.font-s-12 {
  font-size: 12px;
}

.font-s-14 {
  font-size: 14px;
}

.font-s-16 {
  font-size: 16px;
}

.font-s-18 {
  font-size: 18px;
}

.font-s-20 {
  font-size: 20px;
}

.font-s-22 {
  font-size: 22px;
}

.font-s-24 {
  font-size: 24px;
}

.font-s-26 {
  font-size: 26px;
}

.font-s-28 {
  font-size: 28px;
}

.font-s-30 {
  font-size: 30px;
}

.font-s-32 {
  font-size: 32px;
}

.font-s-34 {
  font-size: 34px;
}

.font-s-36 {
  font-size: 36px;
}

.font-s-38 {
  font-size: 38px;
}

.font-w-b {
  font-weight: 700;
}

.font-w-m {
  font-weight: 500;
}

.font-w-n {
  font-weight: 400;
}

.font-f-Gilroy {
  font-family: "Gilroy";
}

.txt-c-D {
  color: #004348;
}

.txt-c-A {
  color: #1FDBAE;
}

.txt-c-FD {
  color: #C5D7EA;
}

.txt-c-SD {
  color: #6B7D8E;
}

.f-direction-row {
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: unset;
}

.f-direction-column {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
}

.margin-b-26 {
  margin-bottom: 26px;
}

.margin-b-24 {
  margin-bottom: 24px;
}

.margin-b-22 {
  margin-bottom: 22px;
}

.margin-b-20 {
  margin-bottom: 20px;
}

.margin-b-18 {
  margin-bottom: 18px;
}

.margin-b-10 {
  margin-bottom: 10px;
}

.margin-b-0 {
  margin-bottom: 0px !important;
}

.margin-r-5 {
  margin-right: 5px;
}

.m-top-15 {
  margin-top: 15px;
}

.m-top-20 {
  margin-top: 20px;
}

.width-50 {
  width: 50%;
}

.width-100 {
  width: 100%;
}

.space-between-2_5px>*:not(:last-child) {
  margin-bottom: 2.5px;
}

.space-between-5px>*:not(:last-child) {
  margin-bottom: 5px;
}

.space-between-7_5px>*:not(:last-child) {
  margin-bottom: 7.5px;
}

.space-between-10px>*:not(:last-child) {
  margin-bottom: 10px;
}

.space-between-15px>*:not(:last-child) {
  margin-bottom: 15px;
}


#container {
  flex-direction: column;
}

.contRow {
  width: 100%;
  flex: 1;
  /* overflow-x: scroll; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* background-color: red; */
}

.contRowTitle {
  font-family: 'Gilroy', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #004348;
}

.contSubRow {
  margin-top: 25px;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  padding: 10px 0;
}

/*  */
.contSubRow::-webkit-scrollbar {
  width: 2px;
  height: 7px;
}

.contSubRow::-webkit-scrollbar-thumb {
  background: #e3e9ef;
  border-radius: 696969px;
}

/*  */
.btn-acc {
  text-decoration: none;
}

/*  */
.notifDone,
.notifInProgress {
  position: relative;
  display: flex;
}

.notifInProgress::after {
  /* content: 'xcwxcwxc'; */
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 696969px;
  background-color: #faf30b;
  position: absolute;
  right: -28px;
  top: 2px;
}

.notifDone::after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 696969px;
  background-color: #1FDBAE;
  position: absolute;
  right: -28px;
  top: 2px;
}

/*  */
#logout {
  cursor: pointer;
}