@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@font-face {
  font-family: "Gilroy";
  src: url("../../app/font/Gilroy-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../app/font/Gilroy-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../app/font/Gilroy-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: unset;
}
#content #navBar {
  width: 100%;
  height: 90px;
  box-sizing: border-box;
  padding-left: 200px;
  padding-right: 200px;
  box-sizing: border-box;
}
@media screen and (max-width: 1200px) {
  #content #navBar {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media screen and (max-width: 1000px) {
  #content #navBar {
    padding-left: 25px;
    padding-right: 25px;
  }
}
#content #navBar #navBarIn {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#content #navBar #navBarIn #navBarNavText {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: center;
}
#content #navBar #navBarIn #navBarNavText > *:not(:last-child) {
  margin-right: 20px;
}
#content #navBar #navBarIn #navBarNavText #btnNotif {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: center;
}
#content #navBar #navBarIn #navBarNavText #btnNotif img {
  cursor: pointer;
}
#content #navBar #navBarIn #navBarNavText #notifsContainer {
  width: 350px;
  position: absolute;
  top: 35px;
  left: -162px;
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: center;
  display: none;
}
#content #navBar #navBarIn #navBarNavText #notifsContainer .triang {
  flex: none;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #FFFFFF;
}
#content #navBar #navBarIn #navBarNavText #notifsContainer #notifBox {
  width: 100%;
  flex: 1;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  font-family: "Gilroy";
  color: #004348;
  text-transform: initial;
}
#content #navBar #navBarIn #navBarNavText #notifsContainer #notifBox #notifBoxHeader {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  border-bottom: 1px solid #E8EFF6;
  font-weight: 700;
  font-size: 18px;
}
#content #navBar #navBarIn #navBarNavText #notifsContainer #notifBox #notifBoxHeader div {
  width: 22px;
  height: 22px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid #1FDBAE;
  border-radius: 5px;
  font-size: 16px;
  color: #1FDBAE;
}
#content #navBar #navBarIn #navBarNavText #notifsContainer #notifBox #notifBoxBody {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: center;
  box-sizing: border-box;
  padding: 10px 0;
}
#content #navBar #navBarIn #navBarNavText #notifsContainer #notifBox #notifBoxBody > *:not(:last-child) {
  margin-bottom: 10px;
}
#content #navBar #navBarIn #navBarNavText #notifsContainer #notifBox #notifBoxBody .notification {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: center;
  height: 43px;
  box-sizing: border-box;
  padding: 0px 20px;
}
#content #navBar #navBarIn #navBarNavText #notifsContainer #notifBox #notifBoxBody .notification .iconBox {
  flex: none;
  width: 43px;
  height: 43px;
  background-color: #F6F9FC;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
#content #navBar #navBarIn #navBarNavText #notifsContainer #notifBox #notifBoxBody .notification .notifText {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: flex-start;
}
#content #navBar #navBarIn #navBarNavText #notifsContainer #notifBox #notifBoxBody .notification .notifText .notifTitle {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}
#content #navBar #navBarIn #navBarNavText #notifsContainer #notifBox #notifBoxBody .notification .notifText .notifiDesc {
  font-size: 11px;
  font-weight: 400;
}
#content #navBar #navBarIn #navBarNavText #notifsContainer #notifBox #notifBoxBody .notification .notifText .notifiDesc .notifDate {
  color: #1FDBAE;
}
#content #navBar #navBarIn #navBarNavText #notifsContainer #notifBox #notifBoxBody .notification .notifClose {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  margin-right: 20px;
}
#content #navBar #navBarIn #navBarNavText #notifsContainer #notifBox #notifBoxBody .notif-inactive::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  position: absolute;
  left: 0;
}
#content #navBar #navBarIn #navBarNavText #notifsContainer #notifBox #notifBoxBody .notif-inactive .notifClose {
  display: none;
}
#content #navBar #navBarIn #navBarNavText .notifActive::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 99px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #FC5E79;
}
#content #navBar #navBarIn #navBarNavText #btnLogin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  user-select: none;
  border: 2px solid #1FDBAE;
  border-radius: 5px;
}
#content #navBar #navBarIn #navBarNavText #btnLogin #navMenuIconCont {
  padding: 8px;
  background: #1FDBAE;
  display: flex;
}
#content #navBar #navBarIn #navBarNavText #btnLogin #navMenuTextCont {
  padding: 8px;
}
#content #navBar #navBarIn #navBarNavText #btnLogin #navMenuTextCont span {
  font-family: "Roboto";
  color: #004348;
}
#content #navBar #navBarIn #navBarNavText #logout {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #004348;
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: center;
}
#content #navBar #navBarIn #navBarNavText #logout img {
  margin-right: 5px;
}
/* #content #footer {
  width: 100%;
  height: 75px;
  background-color: #004348;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 18px;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
}
 */

footer{
  margin-top:50px;
}
footer img {
  padding: -100px 0px -116px -133px;
  font-size: 3rem;
  height: 88px;
  width: 258px;
}
.footer-bottom-text{
  padding: 6px;
  text-align: center;
  background: black;
  line-height: 25px;
  color: #fff;
  font-family: 'Gilroy';
  font-size: 1.9vh;
  letter-spacing: 2px;
}

.footer-bottom-text span{  
background-image: url('../img/vert.png');
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-animation: fire 2s linear infinite;
animation: fire 2s linear infinite;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}
@keyframes fire{
  0%{background-position: 0% -50%;}
  0%{background-position: 100% -50%;}
}


/*# sourceMappingURL=patient_playground_OCP.css.map */
